<div class="mx-auto overflow-auto" style="width: 700px;">
<div class="form-group mx-sm-3 mb-2">
    <label for="nombreCompleto" class="sr-only">Nombre Completo</label>
    <input type="text" [(ngModel)]="nombreCompleto" class="form-control" id="nombreCompleto"
        placeholder="Nombre Completo" required>
</div>
<div class="form-group mx-sm-3 mb-2">
    <label for="fecha" class="sr-only">Fecha</label>
    <input type="text" class="form-control" [(ngModel)]="fecha" id="fecha" placeholder="DD/MM/YYYY" required>
</div>
<button (click)="agregar()" class="btn btn-primary mb-2">Agregar Persona</button>
</div>