<div class="mx-auto overflow-auto" style="width: 700px;">
    <h1>Lista personas agregadas</h1>
    <span *ngIf="isLoading">CARGANDO LISTA DE PERSONAS...</span>
    <span *ngIf="errorMessage">ERROR: PROBLEMAS DE CARGA DE USUARIOS. VUELVA A RECARGAR LA PAGINA.</span>
    <table *ngIf="!isLoading" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha</th>
                <th scope="col">Edad</th>
                <th scope="col">Cuantos d&iacute;as faltan o poema en caso de estar de cumpleaños</th>
            </tr>
        </thead>
        <tbody class="h6">
            <tr *ngFor="let persona of resultado.listaPersonas;">
                <td>{{persona.primerNombre}}</td>
                <td>{{persona.primerApellido}}</td>
                <td>{{persona.fecha | date:'dd/MM/yyyy' }}</td>
                <td>{{persona.edad}}</td>
                <td>{{persona.diasFaltantesOPoema}}</td>
            </tr>
        </tbody>
    </table>
</div>